/*-------------------------------------------
    Colors
-------------------------------------------*/
$link-color: #0088cc;
$yellow: #ffce39;


/*-------------------------------------------
    Sizes
-------------------------------------------*/
$base-font: 15;
$base-font-size: 15px;
$base-line-height: 1.5;


/*-------------------------------------------
    Fonts
-------------------------------------------*/
$heading-text: Georgia, serif;
$body-text: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


