/* Variables */
$highlight:  #6c0016;
$accent:     #d8a23c;
$link-color: #9e0b0f;

$gutter: 1.5em;

/*$body-font: open-sans, arial, verdana, sans-serif;*/
/*$heading-font: georgia,'Times New Roman', serif;*/

$browser-context: 16;
@function em($pixels, $context: $browser-context) {
	@return #{$pixels/$context}em
}