/* Base styles
========================================================================== */
html {
	font-size: $base-font-size;
	line-height: 1.6;
}
body {
	background: #fff;
	color: #444;
	font-family: $body-font;
	margin: 0;
	padding: 0;
}

/* Layout
========================================================================== */
.container {
	margin: 0 auto;
	max-width: 980px;
	padding: 0 1em;
}




